<% let id = locals.id; %>

<div id="answer-response-container">
  <div class="close">
    <img src="/img/icon-close.svg" alt="close" width="25" height="25" />
  </div>
  <div class="form-inner">
      <h2 class="right">Your answer is correct.</h2>
      <p class="right-prompt">Nice job!</p>
      <p class="right-prompt">Find another clue to continue.</p>
  </div>
</div>