<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <title>Happy Easter 2024!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
    $( document ).ready(function() {
          console.log( "document loaded" );
        $('.close').on('click', function(){
          $('#form').fadeOut();
          $('#answer-response-container').fadeOut();
        });
        $('.puzzle-cover').on('click', function(){
          let pieces = $('.piece').length;
          console.log("pieces: ",pieces);
          if (pieces === 0) {
            $(this).fadeOut('slow');
          }
        });
        $('.direct-link-container').on('click', function(){
          $(this).children().toggle();
        });
      });
    </script>
  </head>
  <body>
    
