<section id="puzzle-2">
    <div class="puzzle-cover">
    <%# Row 1 %>
    <% if ( (locals.pieces.indexOf("p1") > -1) ) { %>
      <div id="p1" class="piece">
        <img src="/img/puzzle-corner-3.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p2") > -1) ) { %>
      <div id="p2" class="piece">
        <img src="/img/puzzle-edge-1.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p3") > -1) ) { %>
      <div id="p3" class="piece">
        <img src="/img/puzzle-edge-3.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p4") > -1) ) { %>
      <div id="p4" class="piece">
        <img src="/img/puzzle-edge-1.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p5") > -1) ) { %>
      <div id="p5" class="piece">
        <img src="/img/puzzle-edge-3.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p6") > -1) ) { %>
      <div id="p6" class="piece">
        <img src="/img/puzzle-edge-1.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p7") > -1) ) { %>
      <div id="p7" class="piece">
        <img src="/img/puzzle-edge-3.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p8") > -1) ) { %>
      <div id="p8" class="piece">
        <img src="/img/puzzle-corner-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <%# Row 2 %>
    <% if ( (locals.pieces.indexOf("p9") > -1) ) { %>
      <div id="p9" class="piece">
        <img src="/img/puzzle-edge-4.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p10") > -1) ) { %>
    <div id="p10" class="piece">
      <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
    </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p11") > -1) ) { %>
      <div id="p11" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p12") > -1) ) { %>
      <div id="p12" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p13") > -1) ) { %>
      <div id="p13" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p14") > -1) ) { %>
      <div id="p14" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p15") > -1) ) { %>
      <div id="p15" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p16") > -1) ) { %>
      <div id="p16" class="piece">
        <img src="/img/puzzle-edge-5.svg" width="100" height="auto" class="" />
      </div> 
    <% } %>
    <%# Row 3 %>
    <% if ( (locals.pieces.indexOf("p17") > -1) ) { %>
      <div id="p17" class="piece">
        <img src="/img/puzzle-edge-6.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p18") > -1) ) { %>
      <div id="p18" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p19") > -1) ) { %>
      <div id="p19" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p20") > -1) ) { %>
      <div id="p20" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
      <% } %>
    <% if ( (locals.pieces.indexOf("p21") > -1) ) { %>
    <div id="p21" class="piece">
      <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
      <% } %>
    <% if ( (locals.pieces.indexOf("p22") > -1) ) { %>
      <div id="p22" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
      <% } %>
    <% if ( (locals.pieces.indexOf("p23") > -1) ) { %>
      <div id="p23" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
      <% } %>
    <% if ( (locals.pieces.indexOf("p24") > -1) ) { %>
      <div id="p24" class="piece">
        <img src="/img/puzzle-edge-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <%# Row 4 %>
    <% if ( (locals.pieces.indexOf("p25") > -1) ) { %>
      <div id="p25" class="piece">
        <img src="/img/puzzle-edge-4.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p26") > -1) ) { %>
      <div id="p26" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p27") > -1) ) { %>
      <div id="p27" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p28") > -1) ) { %>
      <div id="p28" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p29") > -1) ) { %>
      <div id="p29" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p30") > -1) ) { %>
      <div id="p30" class="piece">
        <img src="/img/puzzle-center-2.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p31") > -1) ) { %>
      <div id="p31" class="piece">
        <img src="/img/puzzle-center.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p32") > -1) ) { %>    
      <div id="p32" class="piece">
        <img src="/img/puzzle-edge-5.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <%# Row 5 %>
    <% if ( (locals.pieces.indexOf("p33") > -1) ) { %>   
      <div id="p33" class="piece">
        <img src="/img/puzzle-corner-4.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p34") > -1) ) { %>
      <div id="p34" class="piece">
        <img src="/img/puzzle-edge-7.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p35") > -1) ) { %>
      <div id="p35" class="piece">
        <img src="/img/puzzle-edge-8.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p36") > -1) ) { %>
      <div id="p36" class="piece">
        <img src="/img/puzzle-edge-7.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p37") > -1) ) { %>
      <div id="p37" class="piece">
        <img src="/img/puzzle-edge-8.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p38") > -1) ) { %>
      <div id="p38" class="piece">
        <img src="/img/puzzle-edge-7.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p39") > -1) ) { %>
      <div id="p39" class="piece">
        <img src="/img/puzzle-edge-8.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <% if ( (locals.pieces.indexOf("p40") > -1) ) { %>
      <div id="p40" class="piece">
        <img src="/img/puzzle-corner-1.svg" width="100" height="auto" class="" />
      </div>
    <% } %>
    <h1>Great job solving the puzzle!</h1> 
    <h3>Click anywhere to reveal the image.</h3>
    </div>
  </section>