<%- include('partials/header.ejs'); %>
<h1>Welcome to the 2024 Easter Puzzle!</h1>

<section class="intro-message">
    
    <p>Clues have been hidden in Easter eggs around the premises. Each clue contains a QR code which will bring you to a page where you can enter your answer. If correct, pieces will be removed form the puzzle. To solve the puzzle, you will need to find 20 clues, answer the associated questions correctly.</p>

    <p><strong>Go find some clues to start the puzzle continue. Good luck!</strong></p>
</section>
<%- include('partials/pieces.ejs'); %>
  

<%- include('partials/footer.ejs'); %>