<%- include('partials/header.ejs'); %>
<h1>Easter Puzzle 2024</h1>

<%- include('partials/form-right.ejs'); %>

<%- include('partials/pieces.ejs'); %>
<ul>
  <li><a href="/clue/0/">Clue 0</a></li>
  <li><a href="/clue/1/">Clue 1</a></li>
  <li><a href="/clue/2/">Clue 2</a></li>
  <li><a href="/clue/3/">Clue 3</a></li>
  <li><a href="/clue/4/">Clue 4</a></li>
</ul>
<ul>
  <li><a href="/clue/5/">Clue 5</a></li>
  <li><a href="/clue/6/">Clue 6</a></li>
  <li><a href="/clue/7/">Clue 7</a></li>
  <li><a href="/clue/8/">Clue 8</a></li>
  <li><a href="/clue/9/">Clue 9</a></li>
</ul>
<ul>
  <li><a href="/clue/10/">Clue 10</a></li>
  <li><a href="/clue/11/">Clue 11</a></li>
  <li><a href="/clue/12/">Clue 12</a></li>
  <li><a href="/clue/13/">Clue 13</a></li>
  <li><a href="/clue/14/">Clue 14</a></li>
</ul>
<ul>
  <li><a href="/clue/15/">Clue 15</a></li>
  <li><a href="/clue/16/">Clue 16</a></li>
  <li><a href="/clue/17/">Clue 17</a></li>
  <li><a href="/clue/18/">Clue 18</a></li>
  <li><a href="/clue/19/">Clue 19</a></li>
</ul>

<p><a href="/reset/">Reset Puzzle</a></p>

<%- include('partials/footer.ejs'); %>